**/*.json
**/*.png
**/*.jpeg
**/*.jpg
**/*.svg
**/*.scss
**/*.css

.eslintignore
.gitignore
.prettierignore
.eslintrc.json
.husky\.gitignore
webpack.config.ts
public
node_modules
.env
package.json
package-lock.json
amplify

