html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

.caption{
    color:var(--caption);
    font-size:.75rem;
    font-weight:400,regular;
}

body {
	color: var(--font);
	margin: 0;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,;
}

a {
	color: rgb(0,100,200);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0,80,160);
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	-webkit-padding: 0.4em 0;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

button {
	color: #333;
	background-color: #f4f4f4;
	outline: none;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}
body::-webkit-scrollbar {
    display: none;
}

h2::before {
	display: unset !important;
  }

.mdc-data-table__header-cell-wrapper {
	max-width: unset !important;
    width: -webkit-fill-available !important;
  }

  th > div > div {
		max-width: unset !important;
		width: -webkit-fill-available !important;
  }

  .paginate-class > div {
    width: -webkit-fill-available;
  }

  .paginate-class > div > div {
    width: -webkit-fill-available;
  }

  .paginate-class {
    width: -webkit-fill-available;
  }

  .mdc-switch:enabled .mdc-switch__track::after {
	  background: var(--toggle);
  }

  .mdc-switch:enabled:hover:not(:focus):not(:active) .mdc-switch__track::after {
	background: var(--toggle);
  }

  .mdc-switch.mdc-switch--selected:enabled .mdc-switch__handle::after {
	background: var(--white);
  }

  .mdc-switch.mdc-switch--selected:enabled:hover:not(:focus):not(:active) .mdc-switch__handle::after {
	  background: var(--white);
  }

  .mdc-switch.mdc-switch--unselected:enabled:hover:not(:focus):not(:active) .mdc-switch__handle::after {
	background: var(--caption);
  }

	.mdc-switch:enabled:focus:not(:active) .mdc-switch__track::after {
		background: var(--toggle);
	}

	.mdc-switch:enabled:active .mdc-switch__track::after {
		background: var(--toggle);
	}

	.mdc-switch.mdc-switch--selected:enabled:active .mdc-switch__handle::after {
		background: var(--white);
	}

	.mdc-switch.mdc-switch--selected:enabled:focus:not(:active) .mdc-switch__handle::after {
		background: var(--white);
	}