:root {
  --blue: #1d70f3;
  --white: #ffffff;
  --black: #000000;
  --font: #4c5060;
  --hoverBlue: #4570e11a;
  --darkBlue: #175ac2;
  --lightgrey: #dadada;
  --placeholder: #b7b7b7;
  --border: #d3d3d3;
  --caption: #70768e;
  --lightBlue: #4570e1;
  --blackFont: #272931;
  --toggle: #51a800;
  --red: #ff0000;
}

/* Svelte Material UI Theme colors. */
:root {
  --mdc-theme-primary: #1d70f3;
  --mdc-theme-secondary: #1e90ff;
}

/* Svelte Material UI Layout grid spacing. */
:root {
  --mdc-layout-grid-margin-desktop: 24px;
  --mdc-layout-grid-gutter-desktop: 24px;
  --mdc-layout-grid-column-width-desktop: 72px;
  --mdc-layout-grid-margin-tablet: 16px;
  --mdc-layout-grid-gutter-tablet: 16px;
  --mdc-layout-grid-column-width-tablet: 72px;
  --mdc-layout-grid-margin-phone: 16px;
  --mdc-layout-grid-gutter-phone: 16px;
  --mdc-layout-grid-column-width-phone: 72px;
}

/*For Responsive Design and Media Queries. */
$smallest: 595px;
$smaller: 600px;
$small: 768px;
$large: 889px;
$larger: 1200px;
$largest: 1400px;

:export {
  smallest: $smallest;
  smaller: $smaller;
  smallScreen: $small;
  large: $large;
  larger: $larger;
  largest: $largest;
}
